---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=place:d9074951d5976bdf%20%23%23trump
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="7s1vJdEbsFkvBN2zKvmdbv2qc", oauth_nonce="0d9b09049b6d139ff4c44d511ae9e60c",
        oauth_signature="wKiIli3NIvZsT5xOP%2Fi%2FDzsZLsM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1500213698", oauth_token="733061755-1JeotgiNOnU6WrGeoJkPGYMaDsMRbpXD2cKdgZnU",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 16 Jul 2017 14:01:39 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 0ee4aaedec9e7610d31c1c4b5aa43ead
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '177'
      X-Rate-Limit-Reset:
      - '1500213778'
      X-Response-Time:
      - '321'
      X-Transaction:
      - 00f6bf77002f7510
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"created_at":"Sun Jul 16 13:03:38 +0000 2017","id":886572032200200192,"id_str":"886572032200200192","text":"https:\/\/t.co\/cOiRQBz6z6
        \n#ZamachLipcowy #sadnajwyzszy #polityka #sztuka #trump #brexit #postprawda
        #posttruth #FakeNews #art","truncated":false,"entities":{"hashtags":[{"text":"ZamachLipcowy","indices":[25,39]},{"text":"sadnajwyzszy","indices":[40,53]},{"text":"polityka","indices":[54,63]},{"text":"sztuka","indices":[64,71]},{"text":"trump","indices":[72,78]},{"text":"brexit","indices":[79,86]},{"text":"postprawda","indices":[87,98]},{"text":"posttruth","indices":[99,109]},{"text":"FakeNews","indices":[110,119]},{"text":"art","indices":[120,124]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/cOiRQBz6z6","expanded_url":"https:\/\/magazynplus48.wordpress.com\/2017\/07\/15\/czy-sztuka-jest-w-stanie-zmienic-swiat-post-prawdy\/","display_url":"magazynplus48.wordpress.com\/2017\/07\/15\/czy\u2026","indices":[0,23]}]},"metadata":{"iso_language_code":"und","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":873191701858406401,"id_str":"873191701858406401","name":"Magazyn
        +48","screen_name":"MAGAZYNPLUS48","location":"Poland","description":"\ud83d\udca5  +48
        to nowy magazyn lajfstajlowy dla ludzi, kt\u00f3rzy interesuj\u0105 si\u0119
        sztuk\u0105, filmem i szeroko rozumian\u0105 kultur\u0105.\ud83d\udca5\n\n#CZYTAJ
        #DYSKUTUJ #WIESZWIECEJ","url":"https:\/\/t.co\/Y9BPMalE3r","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/Y9BPMalE3r","expanded_url":"http:\/\/www.magazynplus48.wordpress.com","display_url":"magazynplus48.wordpress.com","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":5,"friends_count":84,"listed_count":0,"created_at":"Fri
        Jun 09 14:54:59 +0000 2017","favourites_count":3,"utc_offset":7200,"time_zone":"Warsaw","geo_enabled":true,"verified":false,"statuses_count":10,"lang":"pl","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/873193482910871552\/akuA8Wb6_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/873193482910871552\/akuA8Wb6_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/873191701858406401\/1497021112","profile_link_color":"981CEB","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":{"id":"1fbd37a0577e16ed","url":"https:\/\/api.twitter.com\/1.1\/geo\/id\/1fbd37a0577e16ed.json","place_type":"city","name":"Gdansk","full_name":"Gdansk,
        Poland","country_code":"PL","country":"Poland","contained_within":[],"bounding_box":{"type":"Polygon","coordinates":[[[18.4289926,54.274958],[18.9526874,54.274958],[18.9526874,54.446932],[18.4289926,54.446932]]]},"attributes":{}},"contributors":null,"is_quote_status":false,"retweet_count":1,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"und"},{"created_at":"Sun
        Jul 16 12:53:20 +0000 2017","id":886569437679276032,"id_str":"886569437679276032","text":"#Trump
        to reveal desired changes for #NAFTA renegotiation - CTV News https:\/\/t.co\/yxldUqyMsf
        #Canada","truncated":false,"entities":{"hashtags":[{"text":"Trump","indices":[0,6]},{"text":"NAFTA","indices":[37,43]},{"text":"Canada","indices":[93,100]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/yxldUqyMsf","expanded_url":"ht[...]
