---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=place:d9074951d5976bdf%20%23trump
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="7s1vJdEbsFkvBN2zKvmdbv2qc", oauth_nonce="a0d0df0ac6d33228f3236afce82208a0",
        oauth_signature="afJf1sa36nCFhDv8nLdu5GH94BQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1500058033", oauth_token="733061755-1JeotgiNOnU6WrGeoJkPGYMaDsMRbpXD2cKdgZnU",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 14 Jul 2017 18:47:13 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - e116e4853dbcd086217b6f872edc575d
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1500058933'
      X-Response-Time:
      - '303'
      X-Transaction:
      - 002c1240000cb620
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"created_at":"Fri Jul 14 14:33:42 +0000 2017","id":885869919304376323,"id_str":"885869919304376323","text":"#CNN
        #Trump keep hand of Emannuel  and show everybody who is who https:\/\/t.co\/ByRgY3NHpL","truncated":false,"entities":{"hashtags":[{"text":"CNN","indices":[0,4]},{"text":"Trump","indices":[5,11]}],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":885846093547884548,"id_str":"885846093547884548","indices":[65,88],"media_url":"http:\/\/pbs.twimg.com\/ext_tw_video_thumb\/885846093547884548\/pu\/img\/nKdDi3q0zpOKeEUK.jpg","media_url_https":"https:\/\/pbs.twimg.com\/ext_tw_video_thumb\/885846093547884548\/pu\/img\/nKdDi3q0zpOKeEUK.jpg","url":"https:\/\/t.co\/ByRgY3NHpL","display_url":"pic.twitter.com\/ByRgY3NHpL","expanded_url":"https:\/\/twitter.com\/CNN\/status\/885846952155516928\/video\/1","type":"photo","sizes":{"small":{"w":340,"h":340,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":600,"resize":"fit"},"large":{"w":720,"h":720,"resize":"fit"}},"source_status_id":885846952155516928,"source_status_id_str":"885846952155516928","source_user_id":759251,"source_user_id_str":"759251"}]},"extended_entities":{"media":[{"id":885846093547884548,"id_str":"885846093547884548","indices":[65,88],"media_url":"http:\/\/pbs.twimg.com\/ext_tw_video_thumb\/885846093547884548\/pu\/img\/nKdDi3q0zpOKeEUK.jpg","media_url_https":"https:\/\/pbs.twimg.com\/ext_tw_video_thumb\/885846093547884548\/pu\/img\/nKdDi3q0zpOKeEUK.jpg","url":"https:\/\/t.co\/ByRgY3NHpL","display_url":"pic.twitter.com\/ByRgY3NHpL","expanded_url":"https:\/\/twitter.com\/CNN\/status\/885846952155516928\/video\/1","type":"video","sizes":{"small":{"w":340,"h":340,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"medium":{"w":600,"h":600,"resize":"fit"},"large":{"w":720,"h":720,"resize":"fit"}},"source_status_id":885846952155516928,"source_status_id_str":"885846952155516928","source_user_id":759251,"source_user_id_str":"759251","video_info":{"aspect_ratio":[1,1],"duration_millis":50817,"variants":[{"bitrate":832000,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/ext_tw_video\/885846093547884548\/pu\/vid\/480x480\/vyZ1CiQuhGvCGhyd.mp4"},{"content_type":"application\/x-mpegURL","url":"https:\/\/video.twimg.com\/ext_tw_video\/885846093547884548\/pu\/pl\/0rHokyJx8wviBhOc.m3u8"},{"bitrate":1280000,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/ext_tw_video\/885846093547884548\/pu\/vid\/720x720\/8EAGRpSRJXSrH3-v.mp4"},{"bitrate":320000,"content_type":"video\/mp4","url":"https:\/\/video.twimg.com\/ext_tw_video\/885846093547884548\/pu\/vid\/240x240\/om0erfJ5-vsC1uwn.mp4"}]},"additional_media_info":{"monetizable":false}}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1079436439,"id_str":"1079436439","name":"Dariusz
        \u0141aszyca","screen_name":"DariuszHarley","location":"In\u017cynier mechanik,
        filozof","description":"\"W \u017cyciu trzeba walczy\u0107 nie o to czego
        chcesz, ale o to czego potrzebujesz\"","url":"https:\/\/t.co\/FJeiA7izwF","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/FJeiA7izwF","expanded_url":"http:\/\/www.dariuszlaszyca.pl","display_url":"dariuszlaszyca.pl","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":2053,"friends_count":2278,"listed_count":15,"created_at":"Fri
        Jan 11 11:56:44 +0000 2013","favourites_count":1712,"utc_offset":7200,"time_zone":"Berlin","geo_enabled":true,"verified":false,"statuses_count":31342,"lang":"pl","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/820437512\/513502fe173e5d3fd94db8572e0570b0.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/820437512\/513502fe173e5d3fd94db8572e0570b0.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/3401319138\/3b106439bd2374122cb9140e702a2f34_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/3401319138\/3b106439bd2374122cb9140e702a2f34_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1079436439\/1498858591","profile_link_color":"0084B4","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":{"id":"ea99ce81a0be080e","url":"https:\/\/api.twitter.com\/1.1\/geo\/id\/ea99ce81a0be080e.json","place_type":"city","name":"Gdynia","full_name":"Gdynia,
        Polska","country_code":"PL","country":"Poland","contained_within":[],"bounding_box":{"type":"Polygon","coordinates":[[[18.357961,54.422728],[18.569358,54.422728],[18.569358,54.58437],[18.357961,54.58437]]]},"attributes":{}},"contributors":null,"is_quote_status":false,"retweet_count":4,"favorite_count":12,"favorited":false,"retweeted":false,"possibly_sensitive":true,"lang":"en"},{"created_at":"Thu
        Jul 13 18:50:59 +0000 2017","id":885572280331509761,"id_str":"885572280331509761","text":"#StopWarInSyria
        #StopWarInUkraine #EUforUkraine #FreeSentsov #banrussiafromswift Fuck #trump
        Fuck #basharalassad Fuck #putin Fuck #russians","truncated":false,"entities":{"hashtags":[{"text":"StopWarInSyria","indices":[0,15]},{"text":"StopWarInUkraine","indices":[16,33]},{"text":"EUforUkraine","indices":[34,47]},{"text":"FreeSentsov","indices":[48[...]
